.profile-photo {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 55px;
    height: 55px;
    background-size: contain;
    background-position: center;
    border: 1.5px solid #d7dadf;
    border-radius: 50px;
    cursor: pointer;
}

@media screen and (max-width: 1100px) {
    .profile-photo {
        width: 40px;
        height: 40px;
        top: 10px;
        right: 100px;
        border: 0.5px solid #f55661;
    }
}

@media screen and (max-width: 700px) {
    .profile-photo {
        display: none;
    }
}