.posts-date-container {
    margin-top: 30px;
}

.posts-container {
    display: flex;
    flex-wrap: wrap;  
}

.posts-date {
    color: #959393;
    font-weight: normal;
}

@media screen and (max-width: 1100px) {
    .posts-container {
        width: 75%;
        margin: auto;
        justify-content: space-between;
    }

    .posts-date {
        width: 75%;
        margin: auto;
    }
}

@media screen and (max-width: 1020px) {
    .posts-container {
        width: 80%;
    }

    .posts-date {
        width: 80%;
    }
}

@media screen and (max-width: 950px) {
    .posts-container {
        width: 90%;
    }

    .posts-date {
        width: 90%;
    }
}

@media screen and (max-width: 860px) {
    .posts-container {
        width: 100%;
    }

    .posts-date {
        width: 65%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 700px) {
    .posts-date {
        width: 80%;
    }
}

@media screen and (max-width: 600px) {
    .posts-date {
        width: 90%;
    }
}