.posts-date-container {
    margin-top: 30px;
}

.posts-container {
    display: flex;
    flex-wrap: wrap;
}

.posts-date {
    color: #959393;
    font-weight: normal;
}


@media screen and (max-width: 860px) {
    .posts-date-container {
        width: 70%;
        margin: auto;
        margin-top: 30px;
    }

    .posts-date {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 700px) {
    .posts-date-container {
        width: 90%;
    }
}