.post-container {
    width: 370px;
    border: 1px solid #d7dadf;
    border-radius: 6px;
    margin-top: 15px;
    margin-right: 35px;
    background-color: white;
    display: flex;
}

.post-container svg {
    width: 20px;
}

.post-container svg:last-child {
    margin-right: 0px;
}

@media screen and (max-width: 860px) {
    .post-container {
        width: 100%;
        margin: auto;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 500px) {
    .post-container {
        height: fit-content
    }
}